<div class="home-menu">
  <div id="m1" class="menu-row" routerLink="/spells-items">
    <div class="menu-content">
      <span>Spells / Items</span>
      <img src="assets/Kepek/speels-items.png" alt="Spells / Items" />
    </div>
  </div>

  <div id="m2" class="menu-row" routerLink="/classes-races">
    <div class="menu-content">
      <span>Races / Classes</span>
      <img src="assets/Kepek/races-classes.png" alt="Races / Classes" />
    </div>
  </div>

  <div id="m3" class="menu-row" routerLink="/backgrounds-feats">
    <div class="menu-content">
      <span>Backgrounds / Feats</span>
      <img src="assets/Kepek/backgrounds-feats.png" alt="Backgrounds / Feats" />
    </div>
  </div>

  <div id="m4" class="menu-row" routerLink="/rules-mechanics">
    <div class="menu-content">
      <span>Rules / Mechanics</span>
      <img src="assets/Kepek/rules-mechaniks.png" alt="Rules / Mechanics" />
    </div>
  </div>

  <div id="m5" class="menu-row" routerLink="/monsters">
    <div class="menu-content">
      <span>Monsters</span>
      <img src="assets/Kepek/monsters.png" alt="Monsters" />
    </div>
  </div>
</div>