<div class="home-menu">
  <div id="m1" class="menu-row" routerLink="/spells-items">
    <span>Spells / Items</span>
  </div>

  <div id="m2" class="menu-row" routerLink="/classes-races">
  <span>Races / Classes</span>
</div>

 <div id="m3" class="menu-row" routerLink="/backgrounds-feats">
  <span>Backgrounds / Feats</span>
</div>

 <div id="m4" class="menu-row" routerLink="/rules-mechanics">
  <span>Rules / Mechanics</span>
</div>

<div id="m5" class="menu-row" routerLink="/monsters">
  <span>Monsters</span>
</div>
</div>